# -----------------------------------------------
# ----  GitAttributes  --------------------------
# ----  https://git-scm.com/docs/gitattributes  -
# -----------------------------------------------

# For templates, see
# https://github.com/alexkaratarakis/gitattributes

# -----------------------------------------------
# ----  General  --------------------------------
# -----------------------------------------------

* text=auto eol=lf

.gitattributes !filter !diff
.gitignore     !filter !diff

# -----------------------------------------------
# ----  IDEs  -----------------------------------
# -----------------------------------------------

.vscode/*.json linguist-language=JSON-with-Comments

# -----------------------------------------------
# ----  Languages  ------------------------------
# -----------------------------------------------

*.sh     text    diff=bash
*.md     text    diff=markdown
*.rs     text    diff=rust
